{
  "backendRoot": "",
  "frontendRoot": "",
  "port": 3333,
  "debugMode": false,
  "mongoUri": "mongodb://admin:admin@localhost:27017/?authSource=admin",
  "seedTestingPassword": "password",
  "bcryptRounds": 12,
  "docker": {
    "services": {}
  },
  "concat": {
    "ignoreBinaries": true,
    "showHidden": false,
    "ignoreLockfiles": true,
    "minify": false,
    "useGitignore": true,
    "skipDirsList": ".git\nnode_modules\ntarget\ndist\nbuild\ntest\n__pycache__\nvenv\n.venv\nenv\n.env",
    "skipFilesList": ".gitignore\n.DS_Store",
    "skipExtsList": ".png\n.jpg\n.exe\n.dll\n.zip\n.jpeg\n.gif\n.ico\n.pdf\n.pyc\n.pyo\n.pyd",
    "customPatternsList": "*.min.js\n*.map\n*.md\nmvn*\n*.svg",
    "includeContent": true,
    "headerStyle": "compact",
    "ignoreHiddenDirs": false
  }
}
